.grid {
    /* Aplicamos el uso de css grid */
    display: grid;

    /* Determinamos la cantidad de columnas */
    grid-template-columns: 50% 50%;             /* 2 columnas */
    grid-template-columns: 33% 33% 33%;         /* 3 columnas */
    grid-template-columns: repeat(3, 1fr);      /* (Cantidad de elementos, tamaño) */
    grid-auto-columns: minmax(200px, 400px);    /* (Tamaño minimo, tamaño maximo) */
    
    /* Determinamos la cantidad de filas */
    grid-template-rows: 50px 100px;         /* 2 filas Primer fila 50 px y la segunda 100 px*/
    grid-template-rows: auto 50px;          /* 2 filas Con auto nos referimos a que este se ajuste al lo que contega esta fila */
    grid-template-rows: repeat(3, auto);    /* (Cantidad de elementos, tamaño) */
    grid-auto-rows: minmax(200px, 400px);   /* (Tamaño minimo, tamaño maximo) */

    /* Espaciado entre filas y columnas */
    gap: 1em;           /* Esto se aplica a todas las filas y columnas */
    column-gap: 1em;    /* Esto se aplica a todas las columnas */
    row-gap: 1em;       /* Esto se aplica a todas las filas */

    /* Alineando horizontalmente elementos */
    /* justify-items: center; */          
    /* Los valores pueden ser start, center, end o strech(esta por defecto) */
    /* Podemos usar para cada uno JUSTIFY-SELF: (VALOR) */

    /* Alineando verticalmente elementos */
    /* align-items: center; */            
    /* Los valores pueden ser start, center, end o strech(esta por defecto)*/
    /* Podemos usar para cada uno ALIGN-SELF: (VALOR) */
}

.grid div {
    background-color: gray;
    padding: 1em;
    text-align: center;
}

.grid div:hover {
    border: 1px solid black;
}

.number7{
    grid-column: 1/4;   /* Desde la linea 1 hasta la 4 en columnas*/
    grid-row: 3/5;      /* Desde la linea 3 hasta la 5 en filas */
}

.number8{
    grid-column: 1/3;   /* Desde la linea 1 hasta la 3 en columnas*/
}

.number9{
    grid-column: 1/2;   /* Desde la linea 1 hasta la 2 en columnas*/
}